@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*
! tailwindcss v3.3.5 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

.snap{
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.snap::-webkit-scrollbar{
  display: none;
}

.snap > img{
  scroll-snap-align: center;
}

body{
  font-family: "Inter", sans-serif;
}

.navbarTogglerActive > span:nth-child(1){
  transform: rotate(45deg);
  top: 7px;
}

.navbarTogglerActive > span:nth-child(2){
  opacity: 0;
}

.navbarTogglerActive > span:nth-child(3){
  top: -8px;
  transform: rotate(135deg);
}

input:checked ~ .dot .active{
  display: block;
}

input:checked ~ .dot .inactive{
  display: none;
}

input#toggleFour:checked ~ .box background{
  -d-e-f-a-u-l-t: #3758F9;
}

input#toggleFour:checked ~ .dot{
  background: #fff;
  transform: translateX(100%);
}

input#toggleFive:checked ~ .dot{
  background: #fff;
  transform: translateX(100%);
}

input#toggleFive:checked ~ .dot > span background{
  -d-e-f-a-u-l-t: #3758F9;
}

input#toggleSix:checked ~ .dot{
  background: #fff;
  transform: translateX(100%);
}

input#toggleEight:checked ~ .box{
  background: #EAEEFB;
}

input#toggleEight:checked ~ .dot background{
  -d-e-f-a-u-l-t: #3758F9;
}

input#toggleEight:checked ~ .dot span background{
  -d-e-f-a-u-l-t: #3758F9;
}

input#toggleEight:checked ~ .dot span{
  border-color: #fff;
}

input#toggleNine:checked ~ .dot span {
  background: #fff;
}

input#toggleNine:checked ~ .dot background{
  -d-e-f-a-u-l-t: #3758F9;
}

input:checked ~ .box borderColor{
  -d-e-f-a-u-l-t: #3758F9;
}

input#checkboxLabelOne:checked ~ .box borderColor{
  -d-e-f-a-u-l-t: #3758F9;
}

input#checkboxLabelOne:checked ~ .box .dot background{
  -d-e-f-a-u-l-t: #3758F9;
}

input#checkboxLabelTwo:checked ~ .box span{
  opacity: 100%;
}

input#checkboxLabelThree:checked ~ .box span{
  opacity: 100%;
}

input#checkboxLabelFour:checked ~ .box borderColor{
  -d-e-f-a-u-l-t: #3758F9;
}

input#checkboxLabelFour:checked ~ .box span background{
  -d-e-f-a-u-l-t: #3758F9;
}

input#checkboxLabelFive:checked ~ .box background{
  -d-e-f-a-u-l-t: #3758F9;
}

.container{
  margin-left: auto;
  margin-r-ight: auto;
  padding-left: 16px;
  padding-r-ight: 16px;
}

input[type="checkbox"]:checked ~ .box span{
  opacity: 1;
}

input[type="radio"]:checked ~ .box .circle background{
  -d-e-f-a-u-l-t: #3758F9;
}

input[type="radio"]:checked ~ .box span{
  opacity: 1;
}

.shipping:checked ~ label .title color{
  -d-e-f-a-u-l-t: #3758F9;
}

.download-radio:checked ~ label .icon{
  opacity: 1;
}

.autoSaverSwitch input:checked ~ .slider .dot{
  transform: translateX(24px);
}

.autoSaverSwitch input:checked ~ .label .on{
  display: block;
}

.autoSaverSwitch input:checked ~ .label .off{
  display: none;
}

.themeSwitcherTwo input:checked ~ .slider .dot{
  transform: translateX(28px);
}

.checkbox-list:checked ~ label .icon{
  opacity: 1;
}

.box-select-1:checked ~ label .box borderColor{
  -d-e-f-a-u-l-t: #3758F9;
}

.box-select-1:checked ~ label .box background{
  -d-e-f-a-u-l-t: #3758F9;
}

.box-select-1:checked ~ label .box .icon{
  opacity: 1;
}

.select-list:checked ~ label .icon background{
  -d-e-f-a-u-l-t: #3758F9;
}

.tableCheckbox:checked ~ label .icon{
  opacity: 1;
}

.tableCheckbox-2:checked ~ label .icon{
  color: #fff;
  opacity: 1;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 400px){
  .container{
    max-width: 400px;
  }
}

@media (min-width: 540px){
  .container{
    max-width: 540px;
  }
}

@media (min-width: 720px){
  .container{
    max-width: 720px;
  }
}

@media (min-width: 960px){
  .container{
    max-width: 960px;
  }
}

@media (min-width: 1140px){
  .container{
    max-width: 1140px;
  }
}

@media (min-width: 1320px){
  .container{
    max-width: 1320px;
  }
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.visible{
  visibility: visible;
}

.invisible{
  visibility: hidden;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.-bottom-1{
  bottom: -0.25rem;
}

.-bottom-6{
  bottom: -1.5rem;
}

.-bottom-7{
  bottom: -1.75rem;
}

.-bottom-8{
  bottom: -2rem;
}

.-left-1{
  left: -0.25rem;
}

.-left-6{
  left: -1.5rem;
}

.-left-7{
  left: -1.75rem;
}

.-left-8{
  left: -2rem;
}

.-right-1{
  right: -0.25rem;
}

.-right-10{
  right: -2.5rem;
}

.-right-4{
  right: -1rem;
}

.-right-6{
  right: -1.5rem;
}

.-right-7{
  right: -1.75rem;
}

.-right-9{
  right: -2.25rem;
}

.-top-1{
  top: -0.25rem;
}

.-top-10{
  top: -2.5rem;
}

.-top-6{
  top: -1.5rem;
}

.bottom-0{
  bottom: 0px;
}

.bottom-1{
  bottom: 0.25rem;
}

.bottom-4{
  bottom: 1rem;
}

.bottom-5{
  bottom: 1.25rem;
}

.bottom-\[-2px\]{
  bottom: -2px;
}

.bottom-\[-3px\]{
  bottom: -3px;
}

.bottom-full{
  bottom: 100%;
}

.left-0{
  left: 0px;
}

.left-1{
  left: 0.25rem;
}

.left-1\/2{
  left: 50%;
}

.left-4{
  left: 1rem;
}

.left-\[-3px\]{
  left: -3px;
}

.left-full{
  left: 100%;
}

.right-0{
  right: 0px;
}

.right-1{
  right: 0.25rem;
}

.right-10{
  right: 2.5rem;
}

.right-4{
  right: 1rem;
}

.right-6{
  right: 1.5rem;
}

.right-\[-3px\]{
  right: -3px;
}

.right-full{
  right: 100%;
}

.top-0{
  top: 0px;
}

.top-1{
  top: 0.25rem;
}

.top-1\/2{
  top: 50%;
}

.top-10{
  top: 2.5rem;
}

.top-4{
  top: 1rem;
}

.top-6{
  top: 1.5rem;
}

.top-7{
  top: 1.75rem;
}

.top-\[-3px\]{
  top: -3px;
}

.top-\[110\%\]{
  top: 110%;
}

.top-\[90px\]{
  top: 90px;
}

.top-full{
  top: 100%;
}

.-z-10{
  z-index: -10;
}

.z-10{
  z-index: 10;
}

.z-20{
  z-index: 20;
}

.z-40{
  z-index: 40;
}

.z-50{
  z-index: 50;
}

.z-\[-1\]{
  z-index: -1;
}

.m-10{
  margin: 2.5rem;
}

.m-2{
  margin: 0.5rem;
}

.-mx-2{
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.-mx-3{
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.-mx-4{
  margin-left: -1rem;
  margin-right: -1rem;
}

.-mx-\[6px\]{
  margin-left: -6px;
  margin-right: -6px;
}

.mx-1{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-4{
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-5{
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-7{
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-1{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-\[6px\]{
  margin-top: 6px;
  margin-bottom: 6px;
}

.-mt-20{
  margin-top: -5rem;
}

.mb-1{
  margin-bottom: 0.25rem;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mb-11{
  margin-bottom: 2.75rem;
}

.mb-12{
  margin-bottom: 3rem;
}

.mb-14{
  margin-bottom: 3.5rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.mb-7{
  margin-bottom: 1.75rem;
}

.mb-8{
  margin-bottom: 2rem;
}

.mb-9{
  margin-bottom: 2.25rem;
}

.mb-\[60px\]{
  margin-bottom: 60px;
}

.ml-2{
  margin-left: 0.5rem;
}

.ml-3{
  margin-left: 0.75rem;
}

.ml-5{
  margin-left: 1.25rem;
}

.ml-auto{
  margin-left: auto;
}

.mr-2{
  margin-right: 0.5rem;
}

.mr-3{
  margin-right: 0.75rem;
}

.mr-4{
  margin-right: 1rem;
}

.mr-5{
  margin-right: 1.25rem;
}

.mr-6{
  margin-right: 1.5rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-\[-2px\]{
  margin-top: -2px;
}

.mt-1{
  margin-top: 0.25rem;
}

.mb-\[10px\]{
  margin-bottom: 10px;
}

.mr-2\.5{
  margin-right: 0.625rem;
}

.mt-0{
  margin-top: 0px;
}

.mt-0\.5{
  margin-top: 0.125rem;
}

.mb-\[14px\]{
  margin-bottom: 14px;
}

.mt-5{
  margin-top: 1.25rem;
}

.ml-1{
  margin-left: 0.25rem;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.inline{
  display: inline;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.table{
  display: table;
}

.hidden{
  display: none;
}

.h-1{
  height: 0.25rem;
}

.h-10{
  height: 2.5rem;
}

.h-11{
  height: 2.75rem;
}

.h-12{
  height: 3rem;
}

.h-2{
  height: 0.5rem;
}

.h-20{
  height: 5rem;
}

.h-3{
  height: 0.75rem;
}

.h-4{
  height: 1rem;
}

.h-5{
  height: 1.25rem;
}

.h-6{
  height: 1.5rem;
}

.h-7{
  height: 1.75rem;
}

.h-8{
  height: 2rem;
}

.h-9{
  height: 2.25rem;
}

.h-\[100px\]{
  height: 100px;
}

.h-\[10px\]{
  height: 10px;
}

.h-\[14px\]{
  height: 14px;
}

.h-\[1px\]{
  height: 1px;
}

.h-\[2px\]{
  height: 2px;
}

.h-\[300px\]{
  height: 300px;
}

.h-\[320px\]{
  height: 320px;
}

.h-\[34px\]{
  height: 34px;
}

.h-\[36px\]{
  height: 36px;
}

.h-\[60px\]{
  height: 60px;
}

.h-\[70px\]{
  height: 70px;
}

.h-auto{
  height: auto;
}

.h-full{
  height: 100%;
}

.h-screen{
  height: 100vh;
}

.h-px{
  height: 1px;
}

.h-\[26px\]{
  height: 26px;
}

.h-2\.5{
  height: 0.625rem;
}

.min-h-screen{
  min-height: 100vh;
}

.w-1\/2{
  width: 50%;
}

.w-1\/3{
  width: 33.333333%;
}

.w-1\/6{
  width: 16.666667%;
}

.w-11{
  width: 2.75rem;
}

.w-12{
  width: 3rem;
}

.w-14{
  width: 3.5rem;
}

.w-2{
  width: 0.5rem;
}

.w-20{
  width: 5rem;
}

.w-3{
  width: 0.75rem;
}

.w-4{
  width: 1rem;
}

.w-5{
  width: 1.25rem;
}

.w-6{
  width: 1.5rem;
}

.w-60{
  width: 15rem;
}

.w-7{
  width: 1.75rem;
}

.w-8{
  width: 2rem;
}

.w-9{
  width: 2.25rem;
}

.w-\[100px\]{
  width: 100px;
}

.w-\[10px\]{
  width: 10px;
}

.w-\[14px\]{
  width: 14px;
}

.w-\[150px\]{
  width: 150px;
}

.w-\[30px\]{
  width: 30px;
}

.w-\[45\%\]{
  width: 45%;
}

.w-\[63\%\]{
  width: 63%;
}

.w-\[70px\]{
  width: 70px;
}

.w-\[75\%\]{
  width: 75%;
}

.w-\[90\%\]{
  width: 90%;
}

.w-\[90px\]{
  width: 90px;
}

.w-full{
  width: 100%;
}

.w-\[60px\]{
  width: 60px;
}

.min-w-\[160px\]{
  min-width: 160px;
}

.min-w-\[300px\]{
  min-width: 300px;
}

.max-w-\[160px\]{
  max-width: 160px;
}

.max-w-\[24px\]{
  max-width: 24px;
}

.max-w-\[250px\]{
  max-width: 250px;
}

.max-w-\[300px\]{
  max-width: 300px;
}

.max-w-\[310px\]{
  max-width: 310px;
}

.max-w-\[34px\]{
  max-width: 34px;
}

.max-w-\[352px\]{
  max-width: 352px;
}

.max-w-\[36px\]{
  max-width: 36px;
}

.max-w-\[370px\]{
  max-width: 370px;
}

.max-w-\[400px\]{
  max-width: 400px;
}

.max-w-\[40px\]{
  max-width: 40px;
}

.max-w-\[480px\]{
  max-width: 480px;
}

.max-w-\[510px\]{
  max-width: 510px;
}

.max-w-\[520px\]{
  max-width: 520px;
}

.max-w-\[525px\]{
  max-width: 525px;
}

.max-w-\[550px\]{
  max-width: 550px;
}

.max-w-\[570px\]{
  max-width: 570px;
}

.max-w-\[60px\]{
  max-width: 60px;
}

.max-w-\[655px\]{
  max-width: 655px;
}

.max-w-\[8px\]{
  max-width: 8px;
}

.max-w-full{
  max-width: 100%;
}

.max-w-\[350px\]{
  max-width: 350px;
}

.max-w-\[26px\]{
  max-width: 26px;
}

.table-auto{
  table-layout: auto;
}

.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-45{
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-45{
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes ping{
  75%, 100%{
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ping{
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.cursor-pointer{
  cursor: pointer;
}

.select-none{
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.resize-none{
  resize: none;
}

.list-inside{
  list-style-position: inside;
}

.list-disc{
  list-style-type: disc;
}

.appearance-none{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-center{
  align-items: center;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-5{
  gap: 1.25rem;
}

.gap-6{
  gap: 1.5rem;
}

.gap-4{
  gap: 1rem;
}

.gap-\[14px\]{
  gap: 14px;
}

.space-x-1 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-11 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.75rem * var(--tw-space-y-reverse));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-y-5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-x-auto{
  overflow-x: auto;
}

.whitespace-nowrap{
  white-space: nowrap;
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-\[20px\]{
  border-radius: 20px;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.rounded-sm{
  border-radius: 0.125rem;
}

.rounded-xl{
  border-radius: 0.75rem;
}

.rounded-\[5px\]{
  border-radius: 5px;
}

.rounded-\[10px\]{
  border-radius: 10px;
}

.rounded-l-full{
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.rounded-l-lg{
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.rounded-l-sm{
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.rounded-r-full{
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.rounded-r-lg{
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.rounded-r-sm{
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
}

.rounded-l-md{
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.rounded-r-md{
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.border{
  border-width: 1px;
}

.border-\[\.5px\]{
  border-width: .5px;
}

.border-\[1\.5px\]{
  border-width: 1.5px;
}

.border-2{
  border-width: 2px;
}

.border-y{
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-b-2{
  border-bottom-width: 2px;
}

.border-l{
  border-left-width: 1px;
}

.border-l-\[6px\]{
  border-left-width: 6px;
}

.border-r{
  border-right-width: 1px;
}

.border-r-2{
  border-right-width: 2px;
}

.border-t{
  border-top-width: 1px;
}

.border-\[\#BFCEFF\]{
  --tw-border-opacity: 1;
  border-color: rgb(191 206 255 / var(--tw-border-opacity));
}

.border-\[\#D4DEFF\]{
  --tw-border-opacity: 1;
  border-color: rgb(212 222 255 / var(--tw-border-opacity));
}

.border-\[\#E4E4E4\]{
  --tw-border-opacity: 1;
  border-color: rgb(228 228 228 / var(--tw-border-opacity));
}

.border-\[\#E5E5E5\]{
  --tw-border-opacity: 1;
  border-color: rgb(229 229 229 / var(--tw-border-opacity));
}

.border-\[\#E5E7EB\]{
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.border-\[\#E8E8E8\]{
  --tw-border-opacity: 1;
  border-color: rgb(232 232 232 / var(--tw-border-opacity));
}

.border-\[\#E9EDF9\]{
  --tw-border-opacity: 1;
  border-color: rgb(233 237 249 / var(--tw-border-opacity));
}

.border-\[\#EDEFF1\]{
  --tw-border-opacity: 1;
  border-color: rgb(237 239 241 / var(--tw-border-opacity));
}

.border-\[\#F2F2F2\]{
  --tw-border-opacity: 1;
  border-color: rgb(242 242 242 / var(--tw-border-opacity));
}

.border-\[\#F3F4FE\]{
  --tw-border-opacity: 1;
  border-color: rgb(243 244 254 / var(--tw-border-opacity));
}

.border-\[\#e4e4e4\]{
  --tw-border-opacity: 1;
  border-color: rgb(228 228 228 / var(--tw-border-opacity));
}

.border-\[\#e7e7e7\]{
  --tw-border-opacity: 1;
  border-color: rgb(231 231 231 / var(--tw-border-opacity));
}

.border-\[f0f0f0\]{
  border-color: f0f0f0;
}

.border-black{
  --tw-border-opacity: 1;
  border-color: rgb(33 43 54 / var(--tw-border-opacity));
}

.border-body-color{
  --tw-border-opacity: 1;
  border-color: rgb(99 115 129 / var(--tw-border-opacity));
}

.border-cyan{
  --tw-border-opacity: 1;
  border-color: rgb(1 169 219 / var(--tw-border-opacity));
}

.border-cyan-dark{
  --tw-border-opacity: 1;
  border-color: rgb(11 118 183 / var(--tw-border-opacity));
}

.border-dark{
  --tw-border-opacity: 1;
  border-color: rgb(17 25 40 / var(--tw-border-opacity));
}

.border-form-stroke{
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity));
}

.border-green{
  --tw-border-opacity: 1;
  border-color: rgb(34 173 92 / var(--tw-border-opacity));
}

.border-green-dark{
  --tw-border-opacity: 1;
  border-color: rgb(26 130 69 / var(--tw-border-opacity));
}

.border-light{
  --tw-border-opacity: 1;
  border-color: rgb(239 239 239 / var(--tw-border-opacity));
}

.border-primary{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
}

.border-red{
  --tw-border-opacity: 1;
  border-color: rgb(242 48 48 / var(--tw-border-opacity));
}

.border-red-dark{
  --tw-border-opacity: 1;
  border-color: rgb(225 14 14 / var(--tw-border-opacity));
}

.border-secondary{
  --tw-border-opacity: 1;
  border-color: rgb(19 194 150 / var(--tw-border-opacity));
}

.border-transparent{
  border-color: transparent;
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.border-yellow{
  --tw-border-opacity: 1;
  border-color: rgb(251 191 36 / var(--tw-border-opacity));
}

.border-yellow-dark{
  --tw-border-opacity: 1;
  border-color: rgb(245 158 11 / var(--tw-border-opacity));
}

.border-stroke{
  --tw-border-opacity: 1;
  border-color: rgb(223 228 234 / var(--tw-border-opacity));
}

.border-gray-3{
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.border-current{
  border-color: currentColor;
}

.border-l-cyan-dark{
  --tw-border-opacity: 1;
  border-left-color: rgb(11 118 183 / var(--tw-border-opacity));
}

.border-l-yellow{
  --tw-border-opacity: 1;
  border-left-color: rgb(251 191 36 / var(--tw-border-opacity));
}

.border-opacity-20{
  --tw-border-opacity: 0.2;
}

.bg-\[\#13C296\]{
  --tw-bg-opacity: 1;
  background-color: rgb(19 194 150 / var(--tw-bg-opacity));
}

.bg-\[\#1C9CEA\]{
  --tw-bg-opacity: 1;
  background-color: rgb(28 156 234 / var(--tw-bg-opacity));
}

.bg-\[\#4064AC\]{
  --tw-bg-opacity: 1;
  background-color: rgb(64 100 172 / var(--tw-bg-opacity));
}

.bg-\[\#D64937\]{
  --tw-bg-opacity: 1;
  background-color: rgb(214 73 55 / var(--tw-bg-opacity));
}

.bg-\[\#E4E4E4\]{
  --tw-bg-opacity: 1;
  background-color: rgb(228 228 228 / var(--tw-bg-opacity));
}

.bg-\[\#E5E7EB\]{
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-\[\#E9F9FF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(233 249 255 / var(--tw-bg-opacity));
}

.bg-\[\#EAEEFB\]{
  --tw-bg-opacity: 1;
  background-color: rgb(234 238 251 / var(--tw-bg-opacity));
}

.bg-\[\#F3F4F6\]{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-\[\#F3F6FF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(243 246 255 / var(--tw-bg-opacity));
}

.bg-\[\#F4F7FF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(244 247 255 / var(--tw-bg-opacity));
}

.bg-\[\#FCFDFE\]{
  --tw-bg-opacity: 1;
  background-color: rgb(252 253 254 / var(--tw-bg-opacity));
}

.bg-\[\#f4f7ff\]{
  --tw-bg-opacity: 1;
  background-color: rgb(244 247 255 / var(--tw-bg-opacity));
}

.bg-\[\#f7f8fa\]{
  --tw-bg-opacity: 1;
  background-color: rgb(247 248 250 / var(--tw-bg-opacity));
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(33 43 54 / var(--tw-bg-opacity));
}

.bg-body-color{
  --tw-bg-opacity: 1;
  background-color: rgb(99 115 129 / var(--tw-bg-opacity));
}

.bg-body-color\/10{
  background-color: rgb(99 115 129 / 0.1);
}

.bg-cyan{
  --tw-bg-opacity: 1;
  background-color: rgb(1 169 219 / var(--tw-bg-opacity));
}

.bg-cyan-dark{
  --tw-bg-opacity: 1;
  background-color: rgb(11 118 183 / var(--tw-bg-opacity));
}

.bg-cyan-light-2\/30{
  background-color: rgb(119 209 243 / 0.3);
}

.bg-cyan\/10{
  background-color: rgb(1 169 219 / 0.1);
}

.bg-dark{
  --tw-bg-opacity: 1;
  background-color: rgb(17 25 40 / var(--tw-bg-opacity));
}

.bg-dark\/10{
  background-color: rgb(17 25 40 / 0.1);
}

.bg-gray-3{
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-gray-3\/50{
  background-color: rgb(229 231 235 / 0.5);
}

.bg-green{
  --tw-bg-opacity: 1;
  background-color: rgb(34 173 92 / var(--tw-bg-opacity));
}

.bg-green-dark{
  --tw-bg-opacity: 1;
  background-color: rgb(26 130 69 / var(--tw-bg-opacity));
}

.bg-green-dark\/10{
  background-color: rgb(26 130 69 / 0.1);
}

.bg-green-light-6{
  --tw-bg-opacity: 1;
  background-color: rgb(218 248 230 / var(--tw-bg-opacity));
}

.bg-green\/10{
  background-color: rgb(34 173 92 / 0.1);
}

.bg-light{
  --tw-bg-opacity: 1;
  background-color: rgb(239 239 239 / var(--tw-bg-opacity));
}

.bg-primary{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.bg-primary\/10{
  background-color: rgb(55 88 249 / 0.1);
}

.bg-red{
  --tw-bg-opacity: 1;
  background-color: rgb(242 48 48 / var(--tw-bg-opacity));
}

.bg-red-dark{
  --tw-bg-opacity: 1;
  background-color: rgb(225 14 14 / var(--tw-bg-opacity));
}

.bg-red-dark\/10{
  background-color: rgb(225 14 14 / 0.1);
}

.bg-red-light-5{
  --tw-bg-opacity: 1;
  background-color: rgb(254 235 235 / var(--tw-bg-opacity));
}

.bg-red-light-6{
  --tw-bg-opacity: 1;
  background-color: rgb(254 243 243 / var(--tw-bg-opacity));
}

.bg-secondary{
  --tw-bg-opacity: 1;
  background-color: rgb(19 194 150 / var(--tw-bg-opacity));
}

.bg-secondary\/10{
  background-color: rgb(19 194 150 / 0.1);
}

.bg-transparent{
  background-color: transparent;
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-yellow{
  --tw-bg-opacity: 1;
  background-color: rgb(251 191 36 / var(--tw-bg-opacity));
}

.bg-yellow-dark{
  --tw-bg-opacity: 1;
  background-color: rgb(245 158 11 / var(--tw-bg-opacity));
}

.bg-yellow-dark\/10{
  background-color: rgb(245 158 11 / 0.1);
}

.bg-yellow-light-4{
  --tw-bg-opacity: 1;
  background-color: rgb(255 251 235 / var(--tw-bg-opacity));
}

.bg-yellow\/30{
  background-color: rgb(251 191 36 / 0.3);
}

.bg-tg-bg{
  --tw-bg-opacity: 1;
  background-color: rgb(247 248 250 / var(--tw-bg-opacity));
}

.bg-gray-2{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-primary\/5{
  background-color: rgb(55 88 249 / 0.05);
}

.bg-white\/10{
  background-color: rgb(255 255 255 / 0.1);
}

.bg-gray-1{
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.bg-dark\/90{
  background-color: rgb(17 25 40 / 0.9);
}

.bg-stroke{
  --tw-bg-opacity: 1;
  background-color: rgb(223 228 234 / var(--tw-bg-opacity));
}

.bg-inherit{
  background-color: inherit;
}

.bg-opacity-20{
  --tw-bg-opacity: 0.2;
}

.bg-opacity-25{
  --tw-bg-opacity: 0.25;
}

.bg-opacity-5{
  --tw-bg-opacity: 0.05;
}

.bg-opacity-70{
  --tw-bg-opacity: 0.7;
}

.bg-opacity-90{
  --tw-bg-opacity: 0.9;
}

.bg-opacity-\[15\%\]{
  --tw-bg-opacity: 15%;
}

.bg-gradient-to-b{
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.bg-gradient-to-t{
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.from-\[\#FFFFFF14\]{
  --tw-gradient-from: #FFFFFF14 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#C4C4C400\]{
  --tw-gradient-to: #C4C4C400 var(--tw-gradient-to-position);
}

.fill-current{
  fill: currentColor;
}

.stroke-current{
  stroke: currentColor;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center{
  -o-object-position: center;
     object-position: center;
}

.p-10{
  padding: 2.5rem;
}

.p-3{
  padding: 0.75rem;
}

.p-4{
  padding: 1rem;
}

.p-5{
  padding: 1.25rem;
}

.p-6{
  padding: 1.5rem;
}

.p-8{
  padding: 2rem;
}

.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2\.5{
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-7{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-\[12px\]{
  padding-left: 12px;
  padding-right: 12px;
}

.px-\[14px\]{
  padding-left: 14px;
  padding-right: 14px;
}

.px-\[18px\]{
  padding-left: 18px;
  padding-right: 18px;
}

.px-\[6px\]{
  padding-left: 6px;
  padding-right: 6px;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-12{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-9{
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.py-\[10px\]{
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[120px\]{
  padding-top: 120px;
  padding-bottom: 120px;
}

.py-\[70px\]{
  padding-top: 70px;
  padding-bottom: 70px;
}

.pt-\[80px\]{
  padding-top: 80px; 
}
.pb-\[120px\]{ 
  padding-bottom: 120px;
}
.pb-\[140px\]{ 
  padding-bottom: 140px;
}

.py-\[6px\]{
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-\[9px\]{
  padding-top: 9px;
  padding-bottom: 9px;
}

.py-\[11px\]{
  padding-top: 11px;
  padding-bottom: 11px;
}

.py-\[13px\]{
  padding-top: 13px;
  padding-bottom: 13px;
}

.py-\[34px\]{
  padding-top: 34px;
  padding-bottom: 34px;
}

.px-3\.5{
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.py-2\.5{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-1\.5{
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.pb-10{
  padding-bottom: 2.5rem;
}

.pb-12{
  padding-bottom: 3rem;
}

.pb-16{
  padding-bottom: 4rem;
}

.pb-2{
  padding-bottom: 0.5rem;
}

.pb-20{
  padding-bottom: 5rem;
}

.pb-4{
  padding-bottom: 1rem;
}

.pb-8{
  padding-bottom: 2rem;
}

.pb-\[110px\]{
  padding-bottom: 110px;
}

.pb-\[90px\]{
  padding-bottom: 90px;
}

.pb-\[70px\]{
  padding-bottom: 70px;
}

.pl-2{
  padding-left: 0.5rem;
}

.pl-6{
  padding-left: 1.5rem;
}

.pl-\[62px\]{
  padding-left: 62px;
}

.pr-16{
  padding-right: 4rem;
}

.pr-2{
  padding-right: 0.5rem;
}

.pt-11{
  padding-top: 2.75rem;
}

.pt-16{
  padding-top: 4rem;
}

.pt-20{
  padding-top: 5rem;
}

.pt-6{
  padding-top: 1.5rem;
}

.pt-\[120px\]{
  padding-top: 120px;
}

.pt-\[150px\]{
  padding-top: 150px;
}

.pr-\[10px\]{
  padding-right: 10px;
}

.pl-4{
  padding-left: 1rem;
}

.pr-0{
  padding-right: 0px;
}

.pr-0\.5{
  padding-right: 0.125rem;
}

.pb-\[18px\]{
  padding-bottom: 18px;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[22px\]{
  font-size: 22px;
}

.text-\[26px\]{
  font-size: 26px;
}

.text-\[32px\]{
  font-size: 32px;
}

.text-\[42px\]{
  font-size: 42px;
}

.text-\[50px\]{
  font-size: 50px;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.font-bold{
  font-weight: 700;
}

.font-medium{
  font-weight: 500;
}

.font-normal{
  font-weight: 400;
}

.font-semibold{
  font-weight: 600;
}

.uppercase{
  text-transform: uppercase;
}

.italic{
  font-style: italic;
}

.leading-loose{
  line-height: 2;
}

.leading-none{
  line-height: 1;
}

.leading-relaxed{
  line-height: 1.625;
}

.leading-snug{
  line-height: 1.375;
}

.leading-tight{
  line-height: 1.25;
}

.\!leading-\[1\.208\]{
  line-height: 1.208 !important;
}

.leading-\[1\.208\]{
  line-height: 1.208;
}

.leading-\[1\.2\]{
  line-height: 1.2;
}

.leading-\[1\.81\]{
  line-height: 1.81;
}

.leading-\[27px\]{
  line-height: 27px;
}

.text-\[\#004434\]{
  --tw-text-opacity: 1;
  color: rgb(0 68 52 / var(--tw-text-opacity));
}

.text-\[\#838995\]{
  --tw-text-opacity: 1;
  color: rgb(131 137 149 / var(--tw-text-opacity));
}

.text-\[\#9D5425\]{
  --tw-text-opacity: 1;
  color: rgb(157 84 37 / var(--tw-text-opacity));
}

.text-\[\#A6AAAF\]{
  --tw-text-opacity: 1;
  color: rgb(166 170 175 / var(--tw-text-opacity));
}

.text-\[\#ACBBED\]{
  --tw-text-opacity: 1;
  color: rgb(172 187 237 / var(--tw-text-opacity));
}

.text-\[\#BC1C21\]{
  --tw-text-opacity: 1;
  color: rgb(188 28 33 / var(--tw-text-opacity));
}

.text-\[\#D0915C\]{
  --tw-text-opacity: 1;
  color: rgb(208 145 92 / var(--tw-text-opacity));
}

.text-\[\#adadad\]{
  --tw-text-opacity: 1;
  color: rgb(173 173 173 / var(--tw-text-opacity));
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(33 43 54 / var(--tw-text-opacity));
}

.text-body-color{
  --tw-text-opacity: 1;
  color: rgb(99 115 129 / var(--tw-text-opacity));
}

.text-cyan{
  --tw-text-opacity: 1;
  color: rgb(1 169 219 / var(--tw-text-opacity));
}

.text-cyan-dark{
  --tw-text-opacity: 1;
  color: rgb(11 118 183 / var(--tw-text-opacity));
}

.text-dark{
  --tw-text-opacity: 1;
  color: rgb(17 25 40 / var(--tw-text-opacity));
}

.text-dark-3{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.text-green{
  --tw-text-opacity: 1;
  color: rgb(34 173 92 / var(--tw-text-opacity));
}

.text-green-dark{
  --tw-text-opacity: 1;
  color: rgb(26 130 69 / var(--tw-text-opacity));
}

.text-primary{
  --tw-text-opacity: 1;
  color: rgb(55 88 249 / var(--tw-text-opacity));
}

.text-red-600{
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.text-red-dark{
  --tw-text-opacity: 1;
  color: rgb(225 14 14 / var(--tw-text-opacity));
}

.text-red-light{
  --tw-text-opacity: 1;
  color: rgb(245 96 96 / var(--tw-text-opacity));
}

.text-secondary{
  --tw-text-opacity: 1;
  color: rgb(19 194 150 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-yellow-dark{
  --tw-text-opacity: 1;
  color: rgb(245 158 11 / var(--tw-text-opacity));
}

.text-white\/80{
  color: rgb(255 255 255 / 0.8);
}

.text-dark-5{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-white\/60{
  color: rgb(255 255 255 / 0.6);
}

.text-dark-6{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-secondary-color{
  --tw-text-opacity: 1;
  color: rgb(136 153 168 / var(--tw-text-opacity));
}

.text-\[\#464646\]{
  --tw-text-opacity: 1;
  color: rgb(70 70 70 / var(--tw-text-opacity));
}

.text-red{
  --tw-text-opacity: 1;
  color: rgb(242 48 48 / var(--tw-text-opacity));
}

.text-opacity-80{
  --tw-text-opacity: 0.8;
}

.placeholder-\[\#ACB6BE\]::-moz-placeholder{
  --tw-placeholder-opacity: 1;
  color: rgb(172 182 190 / var(--tw-placeholder-opacity));
}

.placeholder-\[\#ACB6BE\]::placeholder{
  --tw-placeholder-opacity: 1;
  color: rgb(172 182 190 / var(--tw-placeholder-opacity));
}

.placeholder-body-color::-moz-placeholder{
  --tw-placeholder-opacity: 1;
  color: rgb(99 115 129 / var(--tw-placeholder-opacity));
}

.placeholder-body-color::placeholder{
  --tw-placeholder-opacity: 1;
  color: rgb(99 115 129 / var(--tw-placeholder-opacity));
}

.opacity-0{
  opacity: 0;
}

.opacity-100{
  opacity: 1;
}

.shadow{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-1{
  --tw-shadow: 0px 1px 3px 0px rgba(166, 175, 195, 0.40);
  --tw-shadow-colored: 0px 1px 3px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0px_2px_10px_0px_rgba\(0\2c 0\2c 0\2c 0\.08\)\]{
  --tw-shadow: 0px 2px 10px 0px rgba(0,0,0,0.08);
  --tw-shadow-colored: 0px 2px 10px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-card{
  --tw-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  --tw-shadow-colored: 0px 1px 3px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-inner{
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-input{
  --tw-shadow: 0px 7px 20px rgba(0, 0, 0, 0.03);
  --tw-shadow-colored: 0px 7px 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md{
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-pricing{
  --tw-shadow: 0px 39px 23px -27px rgba(0, 0, 0, 0.04);
  --tw-shadow-colored: 0px 39px 23px -27px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-switch-1{
  --tw-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  --tw-shadow-colored: 0px 0px 5px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0px_20px_95px_0px_rgba\(201\2c 203\2c 204\2c 0\.30\)\]{
  --tw-shadow: 0px 20px 95px 0px rgba(201,203,204,0.30);
  --tw-shadow-colored: 0px 20px 95px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-portfolio{
  --tw-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  --tw-shadow-colored: 0px 4px 30px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-2{
  --tw-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.10);
  --tw-shadow-colored: 0px 5px 12px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.ring-primary{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(55 88 249 / var(--tw-ring-opacity));
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.delay-300{
  transition-delay: 300ms;
}

.duration-1000{
  transition-duration: 1000ms;
}

.duration-300{
  transition-duration: 300ms;
}

body {
  font-family: "Inter", sans-serif;
}

.snap {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.snap::-webkit-scrollbar {
  display: none;
}

.snap > img {
  scroll-snap-align: center;
}

.navbarTogglerActive > span:nth-child(1){
  top: 7px;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.navbarTogglerActive > span:nth-child(2){
  opacity: 0;
}

.navbarTogglerActive > span:nth-child(3){
  top: -0.5rem;
  --tw-rotate: 135deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

input:checked ~ .dot{
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

input:checked ~ .dot .active{
  display: block;
}

input:checked ~ .dot .inactive{
  display: none;
}

input#toggleFour:checked ~ .box{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

input#toggleFour:checked ~ .dot{
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

input#toggleFive:checked ~ .dot{
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

input#toggleFive:checked ~ .dot > span{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

input#toggleSix:checked ~ .dot{
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

input#toggleEight:checked ~ .box{
  --tw-bg-opacity: 1;
  background-color: rgb(234 238 251 / var(--tw-bg-opacity));
}

input#toggleEight:checked ~ .dot{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

input#toggleEight:checked ~ .dot span{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

input#toggleNine:checked ~ .dot span{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

input#toggleNine:checked ~ .dot{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

input:checked ~ .box{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
}

input#checkboxLabelOne:checked ~ .box{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
}

input#checkboxLabelOne:checked ~ .box .dot{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

input#checkboxLabelTwo:checked ~ .box span{
  opacity: 1;
}

input#checkboxLabelThree:checked ~ .box span{
  opacity: 1;
}

input#checkboxLabelFour:checked ~ .box{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
}

input#checkboxLabelFour:checked ~ .box span{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

input#checkboxLabelFive:checked ~ .box{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.shape-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(196, 196, 196, 0) 100%
  );
}

/* v-2.0 start from here */

.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

input[type="checkbox"]:checked ~ .box span{
  opacity: 1;
}

input[type="radio"]:checked ~ .box .circle{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

input[type="radio"]:checked ~ .box span{
  opacity: 1;
}

.payment:checked ~ label{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
  --tw-bg-opacity: 8%;
}

.shipping:checked ~ label{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
}

.shipping:checked ~ label .title{
  --tw-text-opacity: 1;
  color: rgb(55 88 249 / var(--tw-text-opacity));
}

.color:checked ~ label span{
  height: 0.5rem;
  width: 0.5rem;
}

.productColor:checked ~ label span{
  height: 1.75rem;
  width: 1.75rem;
}

.productColor2:checked ~ label span{
  height: 0.75rem;
  width: 0.75rem;
}

.filter-size:checked ~ label{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.filter-size-2:checked ~ label{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.1;
}

.ram-size:checked ~ label{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(55 88 249 / var(--tw-text-opacity));
}

.download-radio:checked ~ label{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.download-radio:checked ~ label span{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.download-radio:checked ~ label .icon{
  opacity: 1;
}

/* ============
=============== */

.priceSlideOne .noUi-target{
  margin-top: 2rem;
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(244 247 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.priceSlideOne .noUi-connects{
  height: 6px;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(212 217 232 / var(--tw-bg-opacity));
}

.priceSlideOne .noUi-connect{
  height: 6px;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.priceSlideOne .noUi-horizontal .noUi-handle{
  top: -0.5rem;
  height: 22px;
  width: 22px;
  border-radius: 9999px;
  border-width: 6px;
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.priceSlideTwo .noUi-target{
  margin-top: 2rem;
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.priceSlideTwo .noUi-connects{
  height: 0.25rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(212 217 232 / var(--tw-bg-opacity));
}

.priceSlideTwo .noUi-connect{
  height: 0.25rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.priceSlideTwo .noUi-horizontal .noUi-handle{
  top: -0.75rem;
  height: 30px;
  width: 30px;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.noUi-horizontal .noUi-handle:after,
.noUi-horizontal .noUi-handle:before{
  display: none;
}

#activityChart .apexcharts-legend-series{
  margin-right: 1.25rem !important;
}

/* ======= Switch ======= */

.autoSaverSwitch input:checked ~ .slider{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.autoSaverSwitch input:checked ~ .slider .dot{
  --tw-translate-x: 1.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.autoSaverSwitch input:checked ~ .label .on{
  display: block;
}

.autoSaverSwitch input:checked ~ .label .off{
  display: none;
}

.themeSwitcherTwo input:checked ~ .light{
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(99 115 129 / var(--tw-text-opacity));
}

.themeSwitcherTwo input:checked ~ .dark{
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(55 88 249 / var(--tw-text-opacity));
}

.themeSwitcherTwo input:checked ~ .slider{
  --tw-bg-opacity: 1;
  background-color: rgb(33 43 54 / var(--tw-bg-opacity));
}

.themeSwitcherTwo input:checked ~ .slider .dot{
  --tw-translate-x: 28px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.themeSwitcherThree input:checked ~ div .light{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(99 115 129 / var(--tw-text-opacity));
}

.themeSwitcherThree input:checked ~ div .dark{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

/* box-select-1 */

.checkbox-list:checked ~ label{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.checkbox-list:checked ~ label .icon{
  opacity: 1;
}

.box-select-1:checked ~ label .box{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.box-select-1:checked ~ label .box .icon{
  opacity: 1;
}

.box-select-1:checked ~ label div.user-box{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.select-list:checked ~ label{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(55 88 249 / var(--tw-text-opacity));
}

.select-list:checked ~ label .icon{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.tableCheckbox:checked ~ label .icon-box{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.tableCheckbox:checked ~ label .icon{
  opacity: 1;
}

.tableCheckbox-2:checked ~ label{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.tableCheckbox-2:checked ~ label .icon{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  opacity: 1;
}

/* Maps */

.jvm-zoom-btn{
  bottom: 0px;
  left: auto;
  top: auto;
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  border-width: .5px;
  --tw-border-opacity: 1;
  border-color: rgb(223 228 234 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  font-weight: 600;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(99 115 129 / var(--tw-text-opacity));
}

.jvm-zoom-btn:hover{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.mapOne .jvm-zoom-btn{
  bottom: 0px;
  left: auto;
  top: auto;
}

.mapOne .jvm-zoom-btn.jvm-zoomin{
  right: 2.25rem;
}

.mapOne .jvm-zoom-btn.jvm-zoomout{
  right: 0px;
}

.mapTwo .jvm-zoom-btn{
  bottom: 0px;
  top: auto;
}

.mapTwo .jvm-zoom-btn.jvm-zoomin{
  left: 0px;
}

.mapTwo .jvm-zoom-btn.jvm-zoomout{
  left: 2.25rem;
}

.mapFour .jvm-zoom-btn{
  top: -5rem;
}

.mapFour .jvm-zoom-btn.jvm-zoomin{
  right: 2.25rem;
}

.mapFour .jvm-zoom-btn.jvm-zoomout{
  right: 0px;
}

.file\:mr-5::file-selector-button{
  margin-right: 1.25rem;
}

.file\:border-collapse::file-selector-button{
  border-collapse: collapse;
}

.file\:cursor-pointer::file-selector-button{
  cursor: pointer;
}

.file\:border-0::file-selector-button{
  border-width: 0px;
}

.file\:border-r::file-selector-button{
  border-right-width: 1px;
}

.file\:border-solid::file-selector-button{
  border-style: solid;
}

.file\:border-form-stroke::file-selector-button{
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity));
}

.file\:border-stroke::file-selector-button{
  --tw-border-opacity: 1;
  border-color: rgb(223 228 234 / var(--tw-border-opacity));
}

.file\:bg-\[\#F5F7FD\]::file-selector-button{
  --tw-bg-opacity: 1;
  background-color: rgb(245 247 253 / var(--tw-bg-opacity));
}

.file\:bg-gray-2::file-selector-button{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.file\:px-5::file-selector-button{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.file\:py-3::file-selector-button{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.file\:text-body-color::file-selector-button{
  --tw-text-opacity: 1;
  color: rgb(99 115 129 / var(--tw-text-opacity));
}

.hover\:border-black:hover{
  --tw-border-opacity: 1;
  border-color: rgb(33 43 54 / var(--tw-border-opacity));
}

.hover\:border-primary:hover{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
}

.hover\:border-red-600:hover{
  --tw-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--tw-border-opacity));
}

.hover\:border-secondary:hover{
  --tw-border-opacity: 1;
  border-color: rgb(19 194 150 / var(--tw-border-opacity));
}

.hover\:border-\[\#0BB489\]:hover{
  --tw-border-opacity: 1;
  border-color: rgb(11 180 137 / var(--tw-border-opacity));
}

.hover\:border-\[\#1B44C8\]:hover{
  --tw-border-opacity: 1;
  border-color: rgb(27 68 200 / var(--tw-border-opacity));
}

.hover\:border-body-color:hover{
  --tw-border-opacity: 1;
  border-color: rgb(99 115 129 / var(--tw-border-opacity));
}

.hover\:border-transparent:hover{
  border-color: transparent;
}

.hover\:bg-black:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(33 43 54 / var(--tw-bg-opacity));
}

.hover\:bg-primary:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.hover\:bg-red-600:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.hover\:bg-secondary:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(19 194 150 / var(--tw-bg-opacity));
}

.hover\:bg-white:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#0BB489\]:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(11 180 137 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#1B44C8\]:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(27 68 200 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#E8FBF6\]:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(232 251 246 / var(--tw-bg-opacity));
}

.hover\:bg-blue-light-5:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(225 232 255 / var(--tw-bg-opacity));
}

.hover\:bg-body-color:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(99 115 129 / var(--tw-bg-opacity));
}

.hover\:bg-gray-2:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.hover\:bg-gray-4:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(222 226 230 / var(--tw-bg-opacity));
}

.hover\:bg-blue-dark:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(28 63 183 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#F5F7FD\]:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(245 247 253 / var(--tw-bg-opacity));
}

.hover\:bg-secondary\/5:hover{
  background-color: rgb(19 194 150 / 0.05);
}

.hover\:bg-primary\/90:hover{
  background-color: rgb(55 88 249 / 0.9);
}

.hover\:bg-opacity-10:hover{
  --tw-bg-opacity: 0.1;
}

.hover\:bg-opacity-100:hover{
  --tw-bg-opacity: 1;
}

.hover\:bg-opacity-5:hover{
  --tw-bg-opacity: 0.05;
}

.hover\:bg-opacity-90:hover{
  --tw-bg-opacity: 0.9;
}

.hover\:text-body-color:hover{
  --tw-text-opacity: 1;
  color: rgb(99 115 129 / var(--tw-text-opacity));
}

.hover\:text-dark:hover{
  --tw-text-opacity: 1;
  color: rgb(17 25 40 / var(--tw-text-opacity));
}

.hover\:text-green-dark:hover{
  --tw-text-opacity: 1;
  color: rgb(26 130 69 / var(--tw-text-opacity));
}

.hover\:text-primary:hover{
  --tw-text-opacity: 1;
  color: rgb(55 88 249 / var(--tw-text-opacity));
}

.hover\:text-secondary:hover{
  --tw-text-opacity: 1;
  color: rgb(19 194 150 / var(--tw-text-opacity));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:text-white\/80:hover{
  color: rgb(255 255 255 / 0.8);
}

.hover\:text-opacity-80:hover{
  --tw-text-opacity: 0.8;
}

.hover\:underline:hover{
  text-decoration-line: underline;
}

.hover\:shadow-lg:hover{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:shadow-3:hover{
  --tw-shadow: 0px 4px 12px 0px rgba(13, 10, 44, 0.06);
  --tw-shadow-colored: 0px 4px 12px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:drop-shadow-testimonial:hover{
  --tw-drop-shadow: drop-shadow(0px 25px 40px rgba(208, 231, 243, 0.70));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.file\:hover\:bg-primary:hover::file-selector-button{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.file\:hover\:bg-opacity-10:hover::file-selector-button{
  --tw-bg-opacity: 0.1;
}

.focus\:border-primary:focus{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
}

.focus\:ring-2:focus{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus-visible\:shadow-none:focus-visible{
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.active\:border-primary:active{
  --tw-border-opacity: 1;
  border-color: rgb(55 88 249 / var(--tw-border-opacity));
}

.active\:border-\[\#1B44C8\]:active{
  --tw-border-opacity: 1;
  border-color: rgb(27 68 200 / var(--tw-border-opacity));
}

.active\:border-blue-light-5:active{
  --tw-border-opacity: 1;
  border-color: rgb(225 232 255 / var(--tw-border-opacity));
}

.active\:bg-\[\#1B44C8\]:active{
  --tw-bg-opacity: 1;
  background-color: rgb(27 68 200 / var(--tw-bg-opacity));
}

.active\:bg-blue-light-3:active{
  --tw-bg-opacity: 1;
  background-color: rgb(173 188 242 / var(--tw-bg-opacity));
}

.active\:bg-blue-light-5:active{
  --tw-bg-opacity: 1;
  background-color: rgb(225 232 255 / var(--tw-bg-opacity));
}

.disabled\:cursor-default:disabled{
  cursor: default;
}

.disabled\:border-gray-3:disabled{
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.disabled\:border-gray-2:disabled{
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.disabled\:bg-\[\#F5F7FD\]:disabled{
  --tw-bg-opacity: 1;
  background-color: rgb(245 247 253 / var(--tw-bg-opacity));
}

.disabled\:bg-gray-3:disabled{
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.disabled\:bg-gray-2:disabled{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.disabled\:text-dark-5:disabled{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-100{
  opacity: 1;
}

.peer:checked ~ .peer-checked\:translate-x-full{
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.peer:checked ~ .peer-checked\:bg-\[\#EAEEFB\]{
  --tw-bg-opacity: 1;
  background-color: rgb(234 238 251 / var(--tw-bg-opacity));
}

.peer:checked ~ .peer-checked\:bg-primary{
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.peer:checked ~ .peer-checked\:bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.peer:checked ~ .peer-checked\:text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark){
  .dark\:block{
    display: block;
  }

  .dark\:hidden{
    display: none;
  }

  .dark\:border-dark-4{
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity));
  }

  .dark\:border-dark-3{
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
  }

  .dark\:border-transparent{
    border-color: transparent;
  }

  .dark\:border-dark-2{
    --tw-border-opacity: 1;
    border-color: rgb(31 42 55 / var(--tw-border-opacity));
  }

  .dark\:border-dark{
    --tw-border-opacity: 1;
    border-color: rgb(17 25 40 / var(--tw-border-opacity));
  }

  .dark\:bg-dark{
    --tw-bg-opacity: 1;
    background-color: rgb(17 25 40 / var(--tw-bg-opacity));
  }

  .dark\:bg-dark-2{
    --tw-bg-opacity: 1;
    background-color: rgb(31 42 55 / var(--tw-bg-opacity));
  }

  .dark\:bg-gray\/10{
    background-color: rgb(249 250 251 / 0.1);
  }

  .dark\:bg-red-dark{
    --tw-bg-opacity: 1;
    background-color: rgb(225 14 14 / var(--tw-bg-opacity));
  }

  .dark\:bg-white\/5{
    background-color: rgb(255 255 255 / 0.05);
  }

  .dark\:bg-gray-2{
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }

  .dark\:bg-white{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  .dark\:bg-dark-3{
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }

  .dark\:bg-dark-4{
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity));
  }

  .dark\:bg-dark-5{
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
  }

  .dark\:text-dark-4{
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
  }

  .dark\:text-dark-6{
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }

  .dark\:text-gray{
    --tw-text-opacity: 1;
    color: rgb(249 250 251 / var(--tw-text-opacity));
  }

  .dark\:text-gray-2{
    --tw-text-opacity: 1;
    color: rgb(243 244 246 / var(--tw-text-opacity));
  }

  .dark\:text-light{
    --tw-text-opacity: 1;
    color: rgb(239 239 239 / var(--tw-text-opacity));
  }

  .dark\:text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .dark\:text-dark-7{
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity));
  }

  .dark\:shadow-card{
    --tw-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    --tw-shadow-colored: 0px 1px 3px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .dark\:shadow-box-dark{
    --tw-shadow: 0px 10px 15px 0px rgba(5, 13, 29, 0.18);
    --tw-shadow-colored: 0px 10px 15px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .dark\:shadow-none{
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .dark\:shadow-\[0px_20px_95px_0px_rgba\(0\2c 0\2c 0\2c 0\.30\)\]{
    --tw-shadow: 0px 20px 95px 0px rgba(0,0,0,0.30);
    --tw-shadow-colored: 0px 20px 95px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .dark\:file\:border-dark-3::file-selector-button{
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
  }

  .dark\:file\:bg-dark-2::file-selector-button{
    --tw-bg-opacity: 1;
    background-color: rgb(31 42 55 / var(--tw-bg-opacity));
  }

  .dark\:file\:text-dark-6::file-selector-button{
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }

  .dark\:hover\:border-primary:hover{
    --tw-border-opacity: 1;
    border-color: rgb(55 88 249 / var(--tw-border-opacity));
  }

  .dark\:hover\:bg-dark-3:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }

  .dark\:hover\:bg-primary\/5:hover{
    background-color: rgb(55 88 249 / 0.05);
  }

  .dark\:hover\:text-dark-6:hover{
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }

  .dark\:hover\:text-primary:hover{
    --tw-text-opacity: 1;
    color: rgb(55 88 249 / var(--tw-text-opacity));
  }

  .dark\:hover\:text-dark-3:hover{
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
  }

  .dark\:hover\:text-white:hover{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .dark\:hover\:shadow-3:hover{
    --tw-shadow: 0px 4px 12px 0px rgba(13, 10, 44, 0.06);
    --tw-shadow-colored: 0px 4px 12px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .dark\:hover\:drop-shadow-none:hover{
    --tw-drop-shadow: drop-shadow(0 0 #0000);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }

  .peer:checked ~ .peer-checked\:dark\:bg-dark-3{
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }

  .peer:checked ~ .peer-checked\:dark\:bg-white{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
}

@media (min-width: 400px){
  .xs\:block{
    display: block;
  }

  .xs\:min-w-\[368px\]{
    min-width: 368px;
  }

  .xs\:max-w-\[368px\]{
    max-width: 368px;
  }

  .xs\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .xs\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .xs\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .xs\:h-full{
    height: 100%;
  }
  .xs\:hidden{
    display: none;
  }
}

@media (min-width: 540px){
  .sm\:bottom-0{
    bottom: 0px;
  }

  .sm\:-mx-4{
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .sm\:mb-0{
    margin-bottom: 0px;
  }

  .sm\:mb-8{
    margin-bottom: 2rem;
  }

  .sm\:mr-4{
    margin-right: 1rem;
  }

  .sm\:block{
    display: block;
  }

  .sm\:flex{
    display: flex;
  }

  .sm\:h-\[70px\]{
    height: 70px;
  }

  .sm\:w-1\/2{
    width: 50%;
  }

  .sm\:w-2\/3{
    width: 66.666667%;
  }

  .sm\:min-w-\[508px\]{
    min-width: 508px;
  }

  .sm\:max-w-\[508px\]{
    max-width: 508px;
  }

  .sm\:max-w-\[70px\]{
    max-width: 70px;
  }

  .sm\:flex-row{
    flex-direction: row;
  }

  .sm\:p-12{
    padding: 3rem;
  }

  .sm\:p-6{
    padding: 1.5rem;
  }

  .sm\:p-8{
    padding: 2rem;
  }

  .sm\:p-9{
    padding: 2.25rem;
  }

  .sm\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .sm\:px-12{
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .sm\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sm\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:py-3{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .sm\:py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .sm\:text-left{
    text-align: left;
  }

  .sm\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .sm\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .sm\:text-\[22px\]{
    font-size: 22px;
  }

  .sm\:text-\[38px\]{
    font-size: 38px;
  }

  .sm\:text-\[40px\]{
    font-size: 40px;
  }

  .sm\:text-\[40px\]\/\[48px\]{
    font-size: 40px;
    line-height: 48px;
  }

  .sm\:text-\[42px\]{
    font-size: 42px;
  }

  .sm\:text-\[80px\]{
    font-size: 80px;
  }

  .sm\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .sm\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .sm\:h-full{
    height: 100%;
  }
  .sm\:hidden{
    display: none;
  }
}

@media (min-width: 720px){
  .md\:mb-0{
    margin-bottom: 0px;
  }

  .md\:mb-16{
    margin-bottom: 4rem;
  }

  .md\:mr-12{
    margin-right: 3rem;
  }

  .md\:flex{
    display: flex;
  }

  .md\:h-\[100px\]{
    height: 100px;
  }

  .md\:h-\[450px\]{
    height: 450px;
  }

  .md\:w-1\/2{
    width: 50%;
  }

  .md\:w-2\/3{
    width: 66.666667%;
  }

  .md\:w-11\/12{
    width: 91.666667%;
  }

  .md\:w-5\/12{
    width: 41.666667%;
  }

  .md\:w-7\/12{
    width: 58.333333%;
  }

  .md\:w-\[100px\]{
    width: 100px;
  }
  .md\:mx-\[90px\]{
    margin-left: 90px;
    margin-right: 90px;
  }

  .md\:min-w-\[630px\]{
    min-width: 630px;
  }

  .md\:max-w-\[250px\]{
    max-width: 250px;
  }

  .md\:max-w-\[630px\]{
    max-width: 630px;
  }

  .md\:justify-end{
    justify-content: flex-end;
  }

  .md\:space-x-8 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:p-7{
    padding: 1.75rem;
  }

  .md\:p-9{
    padding: 2.25rem;
  }

  .md\:p-\[70px\]{
    padding: 70px;
  }

  .md\:px-7{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  .md\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:px-9{
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .md\:px-\[60px\]{
    padding-left: 60px;
    padding-right: 60px;
  }

  .md\:px-\[70px\]{
    padding-left: 70px;
    padding-right: 70px;
  }
  .md\:px-\[100px\]{
    padding-left: 100px;
    padding-right: 100px;
  }
  .md\:px-\[110px\]{
    padding-left: 110px;
    padding-right: 110px;
  }
  .md\:px-\[200px\]{
    padding-left: 200px;
    padding-right: 200px;
  }
  .md\:px-\[210px\]{
    padding-left: 210px;
    padding-right: 210px;
  }

  .md\:py-3{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .md\:py-5{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .md\:py-\[60px\]{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .md\:text-\[100px\]{
    font-size: 100px;
  }

  .md\:text-\[40px\]{
    font-size: 40px;
  }

  .md\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .md\:hidden{
    display: none;
  }

  .md\:inline-visible{
    display: inline;
  }

  .md\:w-1\/3{
    width: 33.333333%;
  }
  .md\:w-full{
    width: 100%;
  }

  .md\:visible{
    display: block;
  }
  .md\:absolute{
    position: absolute;
  }
}

@media (min-width: 960px){
  .lg\:static{
    position: static;
  }

  .lg\:mb-0{
    margin-bottom: 0px;
  }

  .lg\:mb-20{
    margin-bottom: 5rem;
  }

  .lg\:ml-12{
    margin-left: 3rem;
  }

  .lg\:ml-auto{
    margin-left: auto;
  }

  .lg\:mr-14{
    margin-right: 3.5rem;
  }

  .lg\:mr-3{
    margin-right: 0.75rem;
  }

  .lg\:mt-0{
    margin-top: 0px;
  }

  .lg\:ml-10{
    margin-left: 2.5rem;
  }

  .lg\:block{
    display: block;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:inline-flex{
    display: inline-flex;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:w-1\/12{
    width: 8.333333%;
  }

  .lg\:w-1\/2{
    width: 50%;
  }

  .lg\:w-1\/3{
    width: 33.333333%;
  }

  .lg\:w-1\/4{
    width: 25%;
  }

  .lg\:w-10\/12{
    width: 83.333333%;
  }

  .lg\:w-2\/12{
    width: 16.666667%;
  }

  .lg\:w-2\/3{
    width: 66.666667%;
  }

  .lg\:w-3\/12{
    width: 25%;
  }

  .lg\:w-5\/12{
    width: 41.666667%;
  }

  .lg\:w-6\/12{
    width: 50%;
  }

  .lg\:w-7\/12{
    width: 58.333333%;
  }

  .lg\:px-\[70px\]{
    padding-left: 70px;
    padding-right: 70px;
  }

  .lg\:w-full{
    width: 100%;
  }

  .lg\:min-w-\[738px\]{
    min-width: 738px;
  }

  .lg\:max-w-\[280px\]{
    max-width: 280px;
  }

  .lg\:max-w-\[738px\]{
    max-width: 738px;
  }

  .lg\:max-w-full{
    max-width: 100%;
  }

  .lg\:justify-end{
    justify-content: flex-end;
  }

  .lg\:justify-between{
    justify-content: space-between;
  }

  .lg\:space-x-14 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(3.5rem * var(--tw-space-x-reverse));
    margin-left: calc(3.5rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:bg-transparent{
    background-color: transparent;
  }

  .lg\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .lg\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .lg\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .lg\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .lg\:py-7{
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .lg\:py-\[100px\]{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .lg\:py-\[120px\]{
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .lg\:px-7{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  .lg\:pb-20{
    padding-bottom: 5rem;
  }

  .lg\:pb-\[120px\]{
    padding-bottom: 120px;
  }

  .lg\:pb-\[90px\]{
    padding-bottom: 90px;
  }

  .lg\:pl-\[120px\]{
    padding-left: 120px;
  }

  .lg\:pr-0{
    padding-right: 0px;
  }

  .lg\:pt-0{
    padding-top: 0px;
  }

  .lg\:pt-\[120px\]{
    padding-top: 120px;
  }

  .lg\:pt-\[150px\]{
    padding-top: 150px;
  }

  .lg\:text-right{
    text-align: right;
  }

  .lg\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-\[22px\]{
    font-size: 22px;
  }

  .lg\:text-\[36px\]{
    font-size: 36px;
  }

  .lg\:text-\[40px\]{
    font-size: 40px;
  }

  .lg\:text-normal{
    font-size: 1rem;
    line-height: 1rem;
  }

  .lg\:text-\[28px\]{
    font-size: 28px;
  }

  .lg\:shadow-none{
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .lg\:absolute{
    position: absolute;
  }
  .lg\:visible{
    display: block;
  }

  .lg\:py-0{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  @media (prefers-color-scheme: dark){
    .lg\:dark\:bg-transparent{
      background-color: transparent;
    }
  }
}

@media (min-width: 1140px){
  .xl\:mr-4{
    margin-right: 1rem;
  }

  .xl\:ml-11{
    margin-left: 2.75rem;
  }

  .xl\:w-1\/2{
    width: 50%;
  }

  .xl\:w-1\/3{
    width: 33.333333%;
  }

  .xl\:w-1\/4{
    width: 25%;
  }

  .xl\:w-5\/12{
    width: 41.666667%;
  }

  .xl\:w-6\/12{
    width: 50%;
  }

  .xl\:w-8\/12{
    width: 66.666667%;
  }

  .xl\:max-w-\[310px\]{
    max-width: 310px;
  }

  .xl\:gap-\[50px\]{
    gap: 50px;
  }

  .xl\:p-12{
    padding: 3rem;
  }

  .xl\:p-9{
    padding: 2.25rem;
  }

  .xl\:p-\[50px\]{
    padding: 50px;
  }

  .xl\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .xl\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .xl\:px-9{
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .xl\:pb-0{
    padding-bottom: 0px;
  }

  .xl\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .xl\:text-\[40px\]{
    font-size: 40px;
  }

  .xl\:text-\[42px\]{
    font-size: 42px;
  }

  .xl\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .xl\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 1320px){
  .\32xl\:bottom-8{
    bottom: 2rem;
  }

  .\32xl\:mr-16{
    margin-right: 4rem;
  }

  .\32xl\:w-\[180px\]{
    width: 180px;
  }

  .\32xl\:min-w-\[850px\]{
    min-width: 850px;
  }

  .\32xl\:min-w-\[910px\]{
    min-width: 910px;
  }

  .\32xl\:max-w-\[850px\]{
    max-width: 850px;
  }

  .\32xl\:max-w-\[910px\]{
    max-width: 910px;
  }

  .\32xl\:pl-0{
    padding-left: 0px;
  }

  .\32xl\:pl-\[78px\]{
    padding-left: 78px;
  }

  .\32xl\:text-\[22px\]{
    font-size: 22px;
  }
}


.grid {
  display: grid;
}

 

.ring-gray-300 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity));
}

.gap-x-6 {
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
}

.sm\:grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.overflow-scroll{
  overflow-y: scroll;
}

/* input:focus:invalid {
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535;
}

input:focus:valid {
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
} */


.border-red-500 {
  --border-opacity: 1!important;
  border-color: #f56565!important;
  border-color: rgba(245,101,101,var(--border-opacity))!important
}

input[type=radio].invalid-radio{
  outline: 3px red solid;
}

.max-height-\[288px\]{
  max-height: 288px;
}

.max-height-\[468px\]{
  max-height: 468px;
}

.max-height\[350px\]{
  max-height: 350px;
}